name: Run Scraper

on:
    workflow_dispatch:

jobs:
    run-scraper:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Setup Node
          uses: actions/setup-node@v4
          with:
            node-version: 22

        - name: Install dependencies
          run: npm install

        - name: Run scraper
          run: node main.js

        - name: Install lftp
          run: sudo apt-get update && sudo apt-get install -y lftp

        - name: Upload wiki_scrape.json via FTP
          env:
            FTP_HOST: ${{ secrets.FTP_SERVER }}
            FTP_USER: ${{ secrets.FTP_USERNAME }}
            FTP_PASS: ${{ secrets.FTP_PASSWORD }}
          run: |
            lftp -e "
              set ftp:ssl-force true;
              set ssl:verify-certificate false;
              open -u \"$FTP_USER\",\"$FTP_PASS\" $FTP_HOST;
              cd /public_html/api/;
              put wiki_scrape.json;
              bye
            "