name: Run Scraper

on:
    workflow_dispatch:

jobs:
    run-scraper:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Setup Node
          uses: actions/setup-node@v4
          with:
            node-version: 22

        - name: Install dependencies
          run: npm install

        - name: Run scraper
          run: node main.js

        - name: Upload to FTP
          uses: SamKirkland/FTP-Deploy-Action@v2.1.0
          with:
            server: ${{ secrets.FTP_SERVER }}
            username: ${{ secrets.FTP_USERNAME }}
            password: ${{ secrets.FTP_PASSWORD }}
            server-dir: /public_html/api/
            local-dir: ./
            exclude: |
              **/*
              !output.json